# local .terraform directories
**/.terraform/*

# .tfstate files
*.tfstate
*.tfstate.*

# tf variables files - sensitive data, different variables for different users
#*.tfvars
#*.tfvars.json

# priv ssh-keys
id_rsa

# crash log files
crash.log
crash.*.log
