# local .terraform dirs
**/.terraform/*

# tf state files
*.tfstate*

# tf variable files - sensitive data, different variables for different users
#*.tfvars

# priv ssh-keys
id_rsa

# crash log files
crash.log
